<!DOCTYPE html>
<html lang="en">
      <div class="content">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header card-header-primary">
              <h3 class="card-title">Alerts</h3>
              <p class="card-category">List of alerts</p>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-6">
                  <h4 class="card-title">Unread alerts</h4>

                  <% alert.forEach(function(alert){ %>
                    <% if(alert.checked==0){ %>
                    <% if(alert.privilege==0){ %><div class="alert alert-info alert-with-icon alert-success" data-notify="container"><% } %>
                    <% if(alert.privilege==1){ %><div class="alert alert-info alert-with-icon alert-warning" data-notify="container"><% } %>
                    <% if(alert.privilege==2){ %><div class="alert alert-info alert-with-icon alert-danger" data-notify="container"><% } %>
                      <i class="material-icons" data-notify="icon">add_alert</i>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="material-icons">close</i>
                      </button>
                      <span data-notify="message"><b><%= alert.privilege %> : <%= alert.name %> - </b><%= alert.description %></span>
                      <span data-notify="message"></span>
                      <span data-notify="message"><%= alert.createdAt %></span>
                    </div>
                  <% }}); %>

                </div>

                <div class="col-md-6">
                  <h4 class="card-title">Read alerts</h4>

                  <% alert.forEach(function(alert){ %>
                    <% if(alert.checked==1){ %>
                    <% if(alert.privilege==0){ %><div class="alert alert-info alert-with-icon alert-success" data-notify="container"><% } %>
                    <% if(alert.privilege==1){ %><div class="alert alert-info alert-with-icon alert-warning" data-notify="container"><% } %>
                    <% if(alert.privilege==2){ %><div class="alert alert-info alert-with-icon alert-danger" data-notify="container"><% } %>
                      <i class="material-icons" data-notify="icon">add_alert</i>
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <i class="material-icons">close</i>
                      </button>
                      <span data-notify="message"><b><%= alert.privilege %> : <%= alert.name %> - </b><%= alert.description %></span>
                      <span data-notify="message"></span>
                      <span data-notify="message"><%= alert.createdAt %></span>
                    </div>
                  <% }}); %>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Plugin for the momentJs  -->
  <script src="../assets/js/plugins/moment.min.js"></script>
  <!--  Plugin for Sweet Alert -->
  <script src="../assets/js/plugins/sweetalert2.js"></script>
  <!-- Forms Validations Plugin -->
  <script src="../assets/js/plugins/jquery.validate.min.js"></script>
  <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="../assets/js/plugins/jquery.bootstrap-wizard.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="../assets/js/plugins/bootstrap-selectpicker.js"></script>
  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <!-- Library for adding dinamically elements -->
  <script src="../assets/js/plugins/arrive.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>
</body>

</html>
