<!DOCTYPE html>
<head>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

</head>

<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="refresh" content="300"/>
        <title><%= title %></title>
    </head>
    <body>
        <div class="site-content">
            <div class="site-header">
                <div class="container">
                    <div class="logo-type">
                        <h1 class="site-title">Today</h1>
                    </div>                
                    <div class="mobile-navigation"></div>

                </div>
            </div> <!-- .site-header -->
            <div class="content">
				<div class="container-fluid">
		            <div class="row">
			            <div class="col-lg-3 col-md-6 col-sm-6">
				            <div class="card card-stats">
				                <div class="card-header card-header-warning card-header-icon">
				                  <div class="card-icon">
				                    <i class="fas fa-thermometer-three-quarters"></i>
				                  </div>
				                  <p class="card-category">Temperature</p>
				                  <h3 class="card-title"><%= Math.round(currentData.main.temp/274,15) %>
				                    <small>°C</small>
				                  </h3>
				                </div>
				                <div class="card-footer">
				                  <div class="stats">
				                    Today <%=new Date().toJSON().slice(0,10).replace(/-/g,'/');%>
				                  </div>
				                </div>
				            </div>
			            </div>
			            <div class="col-lg-3 col-md-6 col-sm-6">
				            <div class="card card-stats">
				                <div class="card-header card-header-success card-header-icon">
				                  <div class="card-icon">
				                    <i class="fas fa-tint"></i>
				                  </div>
				                  <p class="card-category">Humidité</p>
				                  <h3 class="card-title"><%= currentData.main.humidity %> %</h3>
				                </div>
				                <div class="card-footer">
				                  <div class="stats">
				                    Today <%=new Date().toJSON().slice(0,10).replace(/-/g,'/');%>
				                  </div>
				                </div>
				            </div>
			            </div>
			            <div class="col-lg-3 col-md-6 col-sm-6">
				            <div class="card card-stats">
				                <div class="card-header card-header-danger card-header-icon">
				                  <div class="card-icon">
				                    <i class="fas fa-wind"></i>
				                  </div>
				                  <p class="card-category">Vent</p>
				                  <h3 class="card-title"><%= currentData.wind.speed %> m/s</h3>
				                </div>
				                <div class="card-footer">
				                  <div class="stats">
				                    Today <%=new Date().toJSON().slice(0,10).replace(/-/g,'/');%>
				                  </div>
				                </div>
				            </div>
			            </div>
			            <div class="col-lg-3 col-md-6 col-sm-6">
				            <div class="card card-stats">
				                <div class="card-header card-header-info card-header-icon">
				                  <div class="card-icon">
				                    <i class="fas fa-tachometer-alt"></i>
				                  </div>
				                  <p class="card-category">Pression</p>
				                  <h3 class="card-title"><%= currentData.main.pressure %> hPa</h3>
				                </div>
				                <div class="card-footer">
				                  <div class="stats">
				                    Today
				                  </div>
				                </div>
				            </div>
			            </div>
		          	</div>
		          	<div class="site-header">
		                <div class="container">
		                    <div class="logo-type">
		                        <h1 class="site-title"><%= forecastData.list[0].dt_txt.split(" ")[0] %></h1>
		                    </div>                
		                    <div class="mobile-navigation"></div>

		                </div>
            		</div> 
		          	<div class="row">
			            <div class="col-lg-3 col-md-6 col-sm-6">
				            <div class="card card-stats">
				                <div class="card-header card-header-warning card-header-icon">
				                  <div class="card-icon">
				                    <i class="fas fa-thermometer-three-quarters"></i>
				                  </div>
				                  <p class="card-category">Temperature</p>
				                  <h3 class="card-title"><%= Math.round(forecastData.list[0].main.temp/274,15) %>
				                    <small>°C</small>
				                  </h3>
				                </div>
				                <div class="card-footer">
				                  <div class="stats">
				                    <%= forecastData.list[0].dt_txt %>
				                  </div>
				                </div>
				            </div>
			            </div>
			            <div class="col-lg-3 col-md-6 col-sm-6">
				            <div class="card card-stats">
				                <div class="card-header card-header-success card-header-icon">
				                  <div class="card-icon">
				                    <i class="fas fa-tint"></i>
				                  </div>
				                  <p class="card-category">Humidité</p>
				                  <h3 class="card-title"><%= forecastData.list[0].main.humidity %> %</h3>
				                </div>
				                <div class="card-footer">
				                  <div class="stats">
				                    <%= forecastData.list[0].dt_txt %>
				                  </div>
				                </div>
				            </div>
			            </div>
			            <div class="col-lg-3 col-md-6 col-sm-6">
				            <div class="card card-stats">
				                <div class="card-header card-header-danger card-header-icon">
				                  <div class="card-icon">
				                    <i class="fas fa-wind"></i>
				                  </div>
				                  <p class="card-category">Vent</p>
				                  <h3 class="card-title"><%= forecastData.list[0].wind.speed %> m/s</h3>
				                </div>
				                <div class="card-footer">
				                  <div class="stats">
				                    <%= forecastData.list[0].dt_txt %>
				                  </div>
				                </div>
				            </div>
			            </div>
			            <div class="col-lg-3 col-md-6 col-sm-6">
				            <div class="card card-stats">
				                <div class="card-header card-header-info card-header-icon">
				                  <div class="card-icon">
				                    <i class="fas fa-tachometer-alt"></i>
				                  </div>
				                  <p class="card-category">Pression</p>
				                  <h3 class="card-title"><%= forecastData.list[0].main.pressure %> hPa</h3>
				                </div>
				                <div class="card-footer">
				                  <div class="stats">
				                    <%= forecastData.list[0].dt_txt %>
				                  </div>
				                </div>
				            </div>
			            </div>
		          	</div>
				</div>
			</div>
		</div>
    </body>
</html>
		
	</body>

</html>